/* outer style */
.buzz_nav {
    display: flex;
    justify-content: space-evenly;
    border: 4px solid #ddd;
    width: 100%;
}
/* outer style */
/* logo style start */
.buzz_logo {
    display: flex;
    width: 20%;
    border: 1px solid green;
}
.hambargar {
    display: none;
}
.buzz_hamburger {
    width: 56%;
    margin-left: 50px;
}
.buzz_hamburger:hover .buzz_navitems{
    display: block;
    line-height: 30px;
}
.buzz_hamburger i {
    padding-bottom: -77px;
    margin-top: 30px;
    color: black;
    font-size: 25px;
}
.buzz_logo_text{
    padding-top: 18px;
    margin-left: -108px;
    color: #ccc;
    letter-spacing: 4px;
}
.buzz_logo_main img {
 margin-top: 35px;
 width: 15%;
 cursor: pointer;
}

/* logo styles end */
/* nav links start */
.buzz_navbar {
    width: 55%;
    text-align: center;
    border:1px solid red;
}
.buzz_navitems {
    display: none;
    margin-left: -40px;
    list-style-type: none;
}
.buzz_navitems li a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
}
.buzz_listitems{
    display: none;
    list-style-type: none;
    margin-left: -40px;
}
.buzz_navlist{
    width: 10px;
}
.buzz_navlist:hover .buzz_listitems{
    display: block;
    width: 300px;
    line-height: 32px;
}
/* nav links end */
/* user icons styles start */
.buzz_icons {
    display: flex;
    width: 25%;
    border: 1px solid blue;
}
.buzz_fa_icons {
    padding: 33px;
    padding-left: 75px;
}
.buzz_fa_icons i {
    padding-right: 25px;
}
.buzz_fa_icons a {
    display: block;
    padding-right: 10px;
    margin-top: -5px;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}
.buzz_icons .log_in{
    display: block;
    margin-top: 33px;
    color: #ddd;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
}

/* user icons styles end */