@media only screen and (max-width: 1199px) {
body {

}
}

@media only screen and (max-width: 1024px) {
    .buzz_logo_main img {
       margin-top: 7px;
    }
    .buzz_navitems {
        margin-left: -3px;
        width: 550px;
    }
    
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 768px) {
    .buzz_navitems {
        margin-left: 25px;
        width: 379px;
        font-size: 14px;
    }
    .buzz_search {
        margin-top: 17px;
    }
    .buzz_search a{
        font-size: 18px;
    }
}

@media only screen and (max-width: 567px) {
    .buzz_logo_main img {
        margin-left: 47px;
        width: 35%;
    }
    .buzz_navitems {
        position: absolute;
        display: none;
        width: 0px;
    }
    .bars{
        display: none;
    }
    .hambargar{
        position: relative;
        display: block;
        margin: 15px 0px 0px 100px;
    }
    .buzz_navbar:hover .buzz_navitems{
        display: block;
        margin-left: 100px;
        margin-top: 30px;
        line-height: 25px;
    }
    .buzz_search {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 414px) {
    buzz_logo_main img {
        margin-left: 18px;
        width: 37%;
    }
}

@media only screen and (max-width: 320px) {
    .buzz_logo_main img {
        margin-left: 17px;
        width: 35%;
    }

}
